<ion-tabs>
  <ion-tab-bar slot="top" id="appNav">
    <ion-tab-button tab="acceuil" id="acceuilButton" class="navElement">
      <ion-icon name="pin-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="confirmCall()" id="callButton" class="navElement">
      <ion-icon name="call-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button
      (click)="addOrdonnanceToGallery()"
      id="addButton"
      class="navElement"
    >
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
