<ion-tabs>
  <ion-tab-bar slot="top" id="appNav">
    <ion-tab-button
      tab="acceuil"
      color="primary"
      id="acceuilButton"
      class="navElement"
    >
      <ion-icon
        src="../../assets/icons/localisation.svg"
        class="tabsIcon"
        size="large"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="confirmCall()" id="callButton" class="navElement">
      <ion-icon
        src="../../assets/icons/telephone.svg"
        class="tabsIcon"
        size="large"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button
      (click)="addOrdonnanceToGallery()"
      id="addButton"
      class="navElement"
    >
      <ion-icon
        src="../../assets/icons/addList.svg"
        class="tabsIcon"
        size="large"
        id="addIcon"
      ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
