#appNav {
  background-color: var(--ion-color-primary) !important;
  padding-left: 35%;
}

.navElement {
  background-color: var(--ion-color-primary) !important;
  color: white;
  --ripple-color: var(--ion-color-primary-shade);
}

.navElement :only-child {
  background-color: var(--ion-color-primary) !important;
  --ripple-color: var(--ion-color-primary-shade);
}

.tab-selected {
  color: var(--color-selected);
}

ion-icon {
  transform: scale(1.3);
}

#addIcon {
  transform: scale(1.6);
}
