<ion-content class="display-column-align-center">
  <div class="brandLogo">
    <ion-icon
      id="brandLogo"
      src="../../assets/icons/brandLogo.svg"
      size="large"
    ></ion-icon>
  </div>
  <ion-button
    type="button"
    color="secondary"
    class="actionButton styleText3"
    (click)="addOrdonnanceToGallery()"
  >
    Nouvelle ordonnance
  </ion-button>
  <div class="adressContainer styleText2">
    <p class="styleText1">Nous situer :</p>
    <div class="name">Pharmacie Mozart,</div>
    <div class="street">5 Route de Metz</div>
    <div class="town">
      <span class="zip">57280 </span
      ><span class="ville">Maizières-lès-Metz</span>
    </div>
  </div>
  <div class="navigateContainer">
    <p class="styleText1">Voir le trajet sur :</p>
    <div class="navigateAppContainer">
      <div class="navItem">
        <button
          type="button"
          class="mapsButton"
          (click)="navigate('google')"
        ></button>
        <p class="styleText1">Google maps</p>
      </div>
      <div class="navItem">
        <button
          type="button"
          class="wazeButton"
          (click)="navigate('waze')"
        ></button>
        <p class="styleText1">Waze</p>
      </div>
    </div>
  </div>
</ion-content>
