<ion-content class="display-column-align-center">
  <div class="brandLogo">LOGO</div>
  <ion-button
    type="button"
    color="primary"
    class="actionButton"
    (click)="addOrdonnanceToGallery()"
  >
    Nouvelle ordonnance
  </ion-button>
  <div class="adressContainer">
    <p>Nous situer :</p>
    <div class="name">Pharmacie Mozart,</div>
    <div class="street">5 Route de Metz</div>
    <div class="town">
      <span class="zip">57280 </span
      ><span class="ville">Maizières-lès-Metz</span>
    </div>
  </div>
  <div class="navigateContainer">
    <p>Voir le trajet sur :</p>
    <div class="navigateAppContainer">
      <div class="navItem">
        <button
          type="button"
          class="mapsButton"
          (click)="navigate('google')"
        ></button>
        <p>Google maps</p>
      </div>
      <div class="navItem">
        <button
          type="button"
          class="wazeButton"
          (click)="navigate('waze')"
        ></button>
        <p>Waze</p>
      </div>
    </div>
  </div>
</ion-content>
