<ion-content>
  <ion-toolbar>
    <ion-icon
      size="large"
      slot="start"
      src="../../assets/icons/addList.svg"
    ></ion-icon>
    <ion-title style="text-align: center" class="styleText1"
      >Envoyer une ordonnance</ion-title
    >
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating" class="styleText2">
            Bénéficiaire
          </ion-label>
          <ion-input
            [(ngModel)]="beneficiaire"
            autocapitalize="characters"
            clear-input="true"
            inputmode="text"
            minlength="3"
            required
            type="text"
            size="15"
            placeholder="NOM - PRENOM"
            (ionChange)="checkName()"
            (ionBlur)="checkName()"
            pattern="(?:[A-Za-z']+[ ]+[A-Za-z']+[ ]*[A-Za-z ]*)"
          >
          </ion-input>
        </ion-item>
        <ion-note class="errorHelper" [hidden]="!nameError" color="danger">
          {{nameError}}
        </ion-note>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating" class="styleText2">
            Laissez nous un commentaire : <small color="muted">(facultatif)</small> 
          </ion-label>
          <ion-textarea [(ngModel)]="commentaire"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button
          expand="block"
          color="secondary"
          class="styleText1 button"
          (click)="checkOrdonnance()"
        >
          Envoyer l'ordonnance
        </ion-button>
      </ion-col>
      <ion-col
        size="12"
        *ngFor="let photo of photoService.photos; index as position"
      >
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
      <ion-col size="12">
        <ion-button
          expand="block"
          (click)="addMoreToGallery()"
          color="secondary"
        >
          <ion-icon
            slot="start"
            name="add-circle-outline"
            class="button"
          ></ion-icon>
          Ajouter une photo
        </ion-button>
      </ion-col>
      <ion-col size="12" *ngIf="photoService.photos">
        <ion-button expand="block" color="danger" (click)="deleteAndRetake()">
          <ion-icon
            slot="start"
            name="camera-outline"
            class="button"
          ></ion-icon>
          Reprendre la photo
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
