<ion-content>
  <ion-toolbar>
    <ion-title style="text-align: center">Envoyer une ordonnance</ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating"> Bénéficiaire </ion-label>
          <ion-input
            [(ngModel)]="beneficiaire"
            autocapitalize="characters"
            clear-input="true"
            inputmode="text"
            minlength="3"
            required
            type="text"
            size="15"
            placeholder="NOM - PRENOM"
            (ionChange)="checkName()"
            pattern="(?:[A-Za-z']+[ ]+[A-Za-z']+[ ]*[A-Za-z ]*)"
          >
          </ion-input>
        </ion-item>
        <ion-note class="errorHelper" [hidden]="!nameError" color="danger">
          {{nameError}}
        </ion-note>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">
            Acceptez vous les generiques ?
          </ion-label>
          <ion-select [(ngModel)]="generique" interface="popover">
            <ion-select-option value="true">Oui</ion-select-option>
            <ion-select-option value="false">Non</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-note color="danger" class="errorHelper" [hidden]="!genError"
          >{{genError}}</ion-note
        >
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="success" (click)="checkOrdonnance()">
          Valider
        </ion-button>
      </ion-col>
      <ion-col
        size="12"
        *ngFor="let photo of photoService.photos; index as position"
      >
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
      <ion-col size="12" *ngIf="photoService.photos">
        <ion-button expand="block" color="danger" (click)="deleteAndRetake()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          Reprendre la photo
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
